.App {
border: 1px solid #969696;
background-color:  #fff;
margin: -10px 400px;
padding: 10px;
position: relative;
z-index: 1;
width: 625px;
border-radius: 8px;



}
.App ul {
    list-style: none;
    padding:  10px;


}
.App li {
   border-bottom: 1px solid #524f4f7c;
   padding: 10px; 
   


}
.button_delete{
    display: none;
    background-color: #6a6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    left: 550px;
    position: absolute;
    
    
    
}
.todo-item:hover .button_delete{
    display: inline-block;
}

.button_delete_all {
    background-color: #fcf7f7;
    color: #737a7b;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 400px;
    width: 650px;
    
  }
.complecated{
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #6a6666;
    color: #fff;
   



}
.setComplecated{
    border: 1px solid #fff;
    background-color: #fbf5f57c;
    margin: -10px 400px;
    padding: 10px;
    position: relative;
    z-index: 1;
    width: 625px;
    border-radius: 8px;
    margin-top: 30px;
}
.item{
    margin-left: 230px;
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #6a6666;
    color: #fff;
}
